body{
    overflow: hidden;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    
  }
  

  .modal-content {

    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: fit-content; 
  }

#name,
#description
{
   width: 100%; 
   border: none;
   border-bottom: 1px solid black;
   overflow: visible;
}  
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


#schedule:not(:checked) ~ label[for="recurring"],
#schedule:not(:checked) ~ label[for="dateTime"],
#schedule:not(:checked) ~ input[name="recurring"],
#schedule:not(:checked) ~ input[name="dateTime"] {
  pointer-events: none; 
  opacity: 0.5; 
}

#schedule:not(:checked) ~ input[name="recurring"],
#schedule:not(:checked) ~ input[name="dateTime"] {
  cursor: not-allowed; 
}


.modal-content button{
    width: 100%;
}

body {
  overflow: auto; 
}


.custom-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4);
}


.custom-modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding:  20px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: fit-content;
}



.custom-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#schedule:not(:checked) ~ label[for="recurring"],
#schedule:not(:checked) ~ label[for="dateTime"],
#schedule:not(:checked) ~ input[name="recurring"],
#schedule:not(:checked) ~ input[name="dateTime"] {
  pointer-events: none; 
  opacity: 0.5; 
}

#schedule:not(:checked) ~ input[name="recurring"],
#schedule:not(:checked) ~ input[name="dateTime"] {
  cursor: not-allowed; 
}

.modal-content button {
  width: 100%;
}

.custom-modal-content h2{
  margin: 0px 60px 10px 0px ;
}
.bubble-grid .bubble{
  height: 100%;
  width: 100%;
  margin: 5px;
  padding: 2px 10px;
  border: 1px solid black;
  /* border-radius: 50px; */
  cursor: pointer;
  
}

.bubble-grid .bubble:hover{
  background: rgba(0,0,0,0.05);

}